@import 'tailwindcss';

.container__textarea {
  @apply min-h-200 w-full bg-stone-100 dark:bg-stone-900 outline-0 box-border p-2;
}

.container__textarea--error {
  @apply border-none relative -top-7 h-7 bg-red-700 pl-1 text-stone-100;
}

.container__textarea--file {
  @apply border-none relative -top-7 h-7 dark:bg-stone-100 bg-stone-900 pl-1 text-blue-700;
}
